@font-face {
    font-family: 'font-DDR';
    src: url(../font/美呗嘿嘿体.ttf) format("truetype")
}
@font-face {
    font-family: 'font-opposans';
    src: url(../font/opposans.ttf) format("truetype")
}
@font-face {
    font-family: 'iconfont';
    src: url(../font/iconfont.ttf?t=1645435775420) format('truetype')
}

.hd h1 {
    font-family: 'font-DDR' !important
}
.hd h3 {
    font-family: 'font-opposans', sans-serif !important
}
.core {
    font-family: 'font-opposans', sans-serif !important
}
.main .xf_name h1,
.main .xf_name h2,
.main .xf_name h4,
.hd .xf_baidu input,
.xf_website,
.main .xf_introduce p,
.copy {
    font-family: 'font-opposans', sans-serif !important
}